<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
}
</style>
<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Board</th>
      <th>Start time</th>
      <th>Due time</th>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Level</th>
      <th>Owner</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @standard_works.each do |standard_work| %>
      <tr>
        <td><%= standard_work.subject %></td>
        <td><%= Board.find(standard_work.board).name %></td>
        <td><%= standard_work.start_time %></td>
        <td><%= standard_work.due_time %></td>
        <td><%=  standard_work.sun ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.mon ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.tue ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.wed ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.thu ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.fri ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.sat ? ('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>').html_safe : ""%></td>
        <td><%= standard_work.level %></td>
        <td><%= standard_work.owner %></td>
        <td><%= link_to 'Edit', edit_standard_work_path(standard_work), remote: true %></td>
        <td><%= link_to 'Destroy', standard_work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>