<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @standard_work.subject %>
</p>

<p>
  <strong>Board:</strong>
  <%= @standard_work.board %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @standard_work.start_time %>
</p>

<p>
  <strong>Due time:</strong>
  <%= @standard_work.due_time %>
</p>

<p>
  <strong>Sun:</strong>
  <%= @standard_work.sun %>
</p>

<p>
  <strong>Mon:</strong>
  <%= @standard_work.mon %>
</p>

<p>
  <strong>Tue:</strong>
  <%= @standard_work.tue %>
</p>

<p>
  <strong>Wed:</strong>
  <%= @standard_work.wed %>
</p>

<p>
  <strong>Thu:</strong>
  <%= @standard_work.thu %>
</p>

<p>
  <strong>Fri:</strong>
  <%= @standard_work.fri %>
</p>

<p>
  <strong>Sat:</strong>
  <%= @standard_work.sat %>
</p>

<p>
  <strong>Level:</strong>
  <%= @standard_work.level %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @standard_work.owner %>
</p>

<%= link_to 'Edit', edit_standard_work_path(@standard_work) %> |
<%= link_to 'Back', standard_works_path %>
