<% if @assignment.errors.any? %>
<h2>Following Errors:</h2>
<ul>
    <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>


<%= form_for @assignment, remote: true do |f| %>

<p>
    <%= f.label :due_date %><br>
    <%= f.datetime_select :due_date %>
</p>
<p>
    <%= f.label :subject %><br>
    <%= f.text_field :subject, style: 'width: 328px;' %>
</p>
<p>
    <%= f.label :level, 'Priority' %>
    <%= f.select :level, [['Lowest', '1'],['Low', '2'],['Medium', '3'],['High', '4'],['Highest', '5']] %>
    
    <br>
    <%= f.label :board %>
    <%= f.select :board, [['OA', '1'],['HRA', '2'],['HRBP', '3']] %>
    <br>
</p>
<%= f.submit %>
<% end %>