<%= form_for @wash, remote: true do |f| %>
    <%= f.label 'Subject:' %>
    <%= f.hidden_field :title, :value => @assignment.subject %>
    <%= f.label @assignment.subject %><br>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
    <%= f.hidden_field :title, :value =>  @assignment.subject %>
    <%= f.hidden_field :board, :value =>  @assignment.board %>
    <%= f.hidden_field :completed_by, :value =>  @assignment.owner %>
    <%= f.button 'Complete', name: 'id', value: @assignment.id %>
<% end %>
