<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <%= image_tag("c.gif", size: '42', alt: '[C]', class: "logo") %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if logged_in? %>
        <ul class="nav navbar-nav">
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'New Assignment', new_assignment_path, remote: true %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'New Standard Work', new_standard_work_path , remote: true %></li>
          </ul>
        </li>
          
          <li><%= link_to 'My Boards', boards_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to @current_user.name + " (Log Out)", logout_path, 
                  method: :delete, data: {confirm: "Are you sure you want to log out?"}  %></li>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Register', new_user_path %></li>
      <% end %>
        <li><%= link_to "About", "#about-modal", :class => "btn", "data-toggle" => "modal" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>