<div class="well">
    <ul class="list-group">
        <a href="#"></a>
        <% @assignments.each do |a| %>
            <li class="list-group-item list-group-item-<%= assignment_color(a) %>">
                <span class="badge" style="background-color:<%= datetime_color(a.due_date) %>">
                    <%= a.due_date.strftime("%m-%d-%y at %I:%M %p") %>
                </span>
                <% if a.owner == session[:user_id] %>
                    <a href="<%= drop_path(a) %>">
                        <span class="glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></span></a>
                    <%= link_to ('<span class="glyphicon glyphicon-check" style="color:blue" aria-hidden="true"></span>').html_safe, 
                        new_wash_path(:id => a.id) , remote: true %>
                <% end %>
                <% unless a.owner == session[:user_id] %>
                    <a href="<%= assign_path(a) %>">
                        <span class="glyphicon glyphicon-plus" style="color:green" aria-hidden="true"></span></a>
                <% end %>
                <strong style="color:black"><%= a.owner == 0 ? "" : User.find(a.owner).name %></strong>
                <%= link_to a.subject, assignment_path(a), remote: true %>
                <!--- % if is_admin % --->
                <a href="<%= assign_path(a) %>">
                    <span class="glyphicon glyphicon-send" style="color:blue" aria-hidden="true"></span></a>
                <!--- % end % --->
            </li>
        <% end %>
    </ul>
</div>