<% if @board.errors.any? %>
<h2>Following Errors:</h2>
<ul>
    <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @board do |f| %>
<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
</p>
<p>
    <%= f.hidden_field :owner, value: session[:user_id] %>
</p>
<p>
    <%= f.submit 'Create Board' %>
</p>
<% end %>