<%= form_for(@board_name) do |f| %>
  <% if @board_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board_name.errors.count, "error") %> prohibited this board_name from being saved:</h2>

      <ul>
      <% @board_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group %><br>
    <%= f.number_field :group %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
