<p id="notice"><%= notice %></p>

<h1>Listing Board Names</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_names.each do |board_name| %>
      <tr>
        <td><%= board_name.name %></td>
        <td><%= board_name.group %></td>
        <td><%= link_to 'Show', board_name %></td>
        <td><%= link_to 'Edit', edit_board_name_path(board_name) %></td>
        <td><%= link_to 'Destroy', board_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board name', new_board_name_path %>
